#content {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#content .note {
  position: relative;
  width: 25%;
  min-width: 250px;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 5px rgb(0 0 0 / 50%);
}
#content .note:hover {
  box-shadow: 3px 5px 8px rgb(0 0 0 / 50%) !important;
}

#content .note .title {
  font-weight: 700;
  font-size: 20px;
}
#content .note .noteContent {
  font-size: 15px;
  font-weight: 700;
}
#content .note .bigLabelDiv {
  display: flex;
  gap: 2px;
}

#content .note .miniLabelDiv {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  color: white;
  padding: 0.3em;
  border: 1px solid black;
}
.emptyLabel {
  width: 10px;
  height: 10px;
  background-color: white;
}
#content .note .iconsDiv {
  position: absolute;
  width: 40px;
  justify-content: space-between;
  bottom: 10px;
  right: 10px;
}
.iconsDiv {
  display: none;
}
.note:hover div.iconsDiv {
  display: flex;
}

#content .note .iconsDiv .trash,
#content .note .iconsDiv .pallete {
  color: black;
  transition: 0.1s;
}
#content .note .iconsDiv .trash:hover {
  color: red;
  transform: scale(1.3, 1.3);
}
#content .note .iconsDiv .pallete:hover {
  color: blue;
  transform: scale(1.3, 1.3);
}
